.cm-side-block-ad {
  $border_radius: 4px;
  @media(max-width: 1024px) {
    display: none;
  }

  * {
    box-sizing: content-box                    !important;
  }
  box-sizing: content-box                      !important;
  position: absolute                           !important;
  opacity: 0                                   !important;
  transition: opacity .7s ease-in, margin-top .3s ease-in !important;
  border-radius: $border_radius                !important;
  border: 1px solid rgba(60, 60, 60, .2)       !important;
  text-decoration: none                        !important;
  font-family: Arial                           !important;
  width: 214px                                 !important;
  color: #666                                  !important;
  margin-top: 3px                              !important;

  &--show {
    margin-top: 0                              !important;
    opacity: 1                                 !important;
  }

  &:hover {
    animation: boxer .5s                       !important;
  }
  @keyframes boxer {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  &__title {
    padding-top: 5px                           !important;
    padding-bottom: 5px                        !important;
    margin: 0                                  !important;
    height: 24px                               !important;
    text-align: center                         !important;
    line-height: 24px                          !important;
    font-size: 14px                            !important;
    background: #fff                           !important;
    border-top-left-radius: $border_radius     !important;
    border-top-right-radius: $border_radius    !important;
  }

  &__footer {
    background: #fff                           !important;
    line-height: 1.5                           !important;
    font-weight: bold                          !important;
    font-size: 14px                            !important;
    padding: 10px                              !important;
    margin: 0                                  !important;
    color: #000                                !important;
    border-bottom-left-radius: $border_radius  !important;
    border-bottom-right-radius: $border_radius !important;
  }

  &__img-wrapper {
    height: 140px                              !important;
    overflow: hidden                           !important;
  }
  &__img {
    width: 100%                                !important;
  }
}
